{% extends '::base.html.twig' %}

{% block title %}Home Page - {{ parent() }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>WelCome! to Home Page</h1>
        </div>
        <div class="col-md-8 col-md-offset-4">
            <br/>
            <p>Our members:</p>
            <ol>
                {% for user in users %}
                <li>
                    {{ user.username }} ({{ user.email }})
                </li>
                {% endfor %}
            </ol>
            <br/>
            <a class="btn btn-success" href="#">Coming soon! </a>
        </div>
    </div>
{% endblock %}